# Ignore React frontend
legal-lens-ui/
node_modules/

# Ignore notebooks and datasets
notebooks/
cuad/
data/
*.csv
*.zip
*.ipynb

# Ignore models (we now load from Hugging Face)
models/
*.pt
*.bin

# Python cache
__pycache__/
*.pyc
*.pyo

# Git & virtual env
.git/
.venv/
